$primaryLight: #fff;
$secondaryLight: #dcdcdc;

$primaryDark: #222222;
$secondaryDark: #333333;

// greens
$lightGreen: #49a938;
$darkGreen: #1a7908;

// greys
$darkGrey: #212529;
$mediumGrey: #808080;
$lightGrey: #abacac;
